Source: ros-crystal-rosidl-generator-py
Section: misc
Priority: extra
Maintainer: Mikael Arguedas <mikael@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-crystal-ament-cmake, ros-crystal-ament-cmake-pytest, ros-crystal-ament-index-python, ros-crystal-ament-lint-auto, ros-crystal-ament-lint-common, ros-crystal-python-cmake-module, ros-crystal-rmw, ros-crystal-rmw-implementation, ros-crystal-rmw-implementation-cmake, ros-crystal-rosidl-cmake, ros-crystal-rosidl-generator-c, ros-crystal-rosidl-parser, ros-crystal-rosidl-typesupport-c, ros-crystal-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-crystal-rosidl-generator-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-crystal-ament-cmake, ros-crystal-ament-index-python, ros-crystal-python-cmake-module, ros-crystal-rmw, ros-crystal-rmw-implementation, ros-crystal-rmw-implementation-cmake, ros-crystal-rosidl-cmake, ros-crystal-rosidl-generator-c, ros-crystal-rosidl-parser, ros-crystal-rosidl-typesupport-c, ros-crystal-rosidl-typesupport-interface, ros-crystal-ros-workspace
Description: Generate the ROS interfaces in Python.
