Source: ros-galactic-rosidl-generator-py
Section: misc
Priority: optional
Maintainer: Shane Loretz <sloretz@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-numpy, python3-pytest, ros-galactic-ament-cmake, ros-galactic-ament-cmake-pytest, ros-galactic-ament-index-python, ros-galactic-ament-lint-auto, ros-galactic-ament-lint-common, ros-galactic-python-cmake-module, ros-galactic-rmw, ros-galactic-rosidl-cmake, ros-galactic-rosidl-generator-c, ros-galactic-rosidl-generator-cpp, ros-galactic-rosidl-parser, ros-galactic-rosidl-runtime-c, ros-galactic-rosidl-typesupport-c, ros-galactic-rosidl-typesupport-fastrtps-c, ros-galactic-rosidl-typesupport-introspection-c, ros-galactic-rpyutils, ros-galactic-test-interface-files, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-rosidl-generator-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-numpy, ros-galactic-ament-cmake, ros-galactic-ament-index-python, ros-galactic-python-cmake-module, ros-galactic-rmw, ros-galactic-rosidl-cli, ros-galactic-rosidl-cmake, ros-galactic-rosidl-generator-c, ros-galactic-rosidl-parser, ros-galactic-rosidl-runtime-c, ros-galactic-rosidl-typesupport-c, ros-galactic-rosidl-typesupport-interface, ros-galactic-rpyutils, ros-galactic-ros-workspace
Description: Generate the ROS interfaces in Python.
